@model SalesWeb.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.birthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baseSalary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.baseSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
    <a asp-action="Index">Back To List</a>
</div>
